.barra{
    background-color:white;
    height: 115px;
    width: 100%;
    top:0px;
    left: 0px;
    position: fixed;
   }

   .tec1{
     color: #1087FF;
     position: absolute;
     font-family:'Source Sans Pro',sans-serif ;
     text-align: center;
     left: 50%;
     transform: translateX(-50%);
     bottom:15px;
     width: 135px;
     height: 25.19px;
     line-height: 24px;
     font-size: 22px;
   }

   .tec1:hover{
      color: rgb(31, 159, 238);
     
   }
  
   
   
   .logo{
     float: left;
     height:27px ;
     width: 32px;
     bottom: 3px;
     position: relative;
   }

   .logo:hover{
    background-image:url(img/log2.jpg);
  }

   .voltar{
     background-color: white;
     border: none;
     position: absolute;
     left: 10px;
     bottom: 4px;
     height: 35px;
     width: 35px;
     text-align: center;
     line-height: 50%;
   }

   .voltar:hover{
    background-color: rgba(0,0,0,.06); 
    border-radius: 50%;
   }

   .button_back:hover{
    background-color: rgba(0,0,0,0);
  }

   .search{
    background-color: white;
    border: none;   
    position: absolute;
    right: 10px;
    bottom: 4px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 50%;
    
  }
  .lup{
    position: relative;
    line-height: 100%;
    top:5px;
    right: 1px;
    
  }

  .search:hover{
    border-radius: 50%;
    background-color: rgba(0,0,0,.06);

  }

  


  @media only screen and (max-width: 600px){
    body{width: 100%;}
    img{width: 100%;}
  }

  @media only screen and (max-width: 770px){
    body{width: 100%;}
    img{width: 100%;}
  }

  @media only screen and (max-width: 992px){
    body{width: 100%;}
    img{width: 100%;}
  }

  @media only screen and (max-width: 1200px){
    body{width: 100%;}
    img{width: 100%;}
  }

  a:hover{ 
    background-color:rgba(10,158,255,.1);

  }
  a{
    color: #1087ff;
  }
  body{
    font-family: 'Source Sans Pro',sans-serif ;
    color:#575757;
    font-size: 16px;
    line-height: 28px;
    

  }
 
  figure{
    background-color:#f6f8fa; 
  }
  .barra_autor{/* borda inferor da barra*/
    border-bottom: 1px solid;
    border-color:rgb(188, 197, 206) ;
    padding-bottom:8px;
   
  }
  .perfil_autor{
    float:left;
    margin-right: 3px;
    padding-right: 3px;
    
  }
  .image_perfil{ /* borada da imagem do perfil */
    border:solid 1px;
    border-color: lightgray;
    border-radius:360px;
    
  }
  .editor_name{
    float:left;
    
  }
  .text{ /* texto informções do autor*/
    font-size: 12px;
    line-height: 7px;
    
  }
  .data{
    font-size: 14px;
    line-height: 20px;
    color:rgba(82,82,82,.5);
  }
.artigo{
  width: 900px; 
  background-color:white; 
  margin: -20px auto 0px auto;
  padding:  15px ;/*conteudo interno, todo o conteudo sera ajeitado a 15px tanto a direita como esquerda , em cima e embaixo*/
 
}
 
 

 
 


   