.delimeter{/* delimitador da barra com a logo*/
  float: none;
}
.barra{ /*barra com a logo*/
    background-color:white;
    height: 115px;
    width: 100%;
    top:0px;
    left: 0px;
    position: sticky;
    z-index: 1;

   }


   
   .tec1{
     color: #1087FF;
     position: absolute;
     font-family:'Source Sans Pro',sans-serif ;
     text-align: center;
     left: 50%;
     transform: translateX(-50%);
     bottom:15px;
     width: 135px;
     height: 25.19px;
     line-height: 24px;
     font-size: 22px;
   }

   .tec1:hover{
      color: rgb(31, 159, 238);
   }
  
   
   
   .logo{
     top:0.5px;
     height:27px ;
     width: 32px;
     bottom: 3px;
     left:0px;
     position: absolute;
   }

   .tec1:hover .logo{
     opacity: 0%;
   }

   .logo_act{
     left: 0px;
     height:27px;
     width: 32px;
     bottom: 6px;
     float: left;
   }

/* originalmente ----------------------------------------------------------------------------------------*/
  .voltar{
     background-color: white;
     border: none;
     position: absolute;
     left: 10px;
     bottom: 4px;
     height: 35px;
     width: 35px;
     text-align: center;
     line-height: 50%;
     box-sizing: border-box;
   }

 
/* modificado-----------------------------------------------------------------------------------------------------------------*/
  .button_back{
  background-color: white;
  border: none;
  position: absolute;
  left: 10px;
  bottom: 4px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 50%; 
}
.button_back:hover{
  background-color: rgba(0,0,0,.06); 
  border-radius: 50%;
 }
 .button_back:active{
  border: solid 3px;
  border-radius: 50%;
  border-color:rgba(52,144,220,.5);
}
/* modificado-----------------------------------------------------------------------------------------------------------------*/
.search{
    background-color: white;
    border: none;   
    position: absolute;
    right: 10px;
    bottom: 4px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 50%;
    box-sizing: border-box;
    
  }
  .lup{
    position: absolute;
    line-height: 100%;
    top:0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin:auto;
    
  }

.search:active{
  border: solid 3px;
  border-color:rgba(52,144,220,.5);
  
  
 }


  .search:hover{
    border-radius: 50%;
    background-color: rgba(0,0,0,.06);

  }
  /*Fim da Barra com a logo-----------------------------------------------------------------------------------------*/

  .barra2{/* barra para substituir a barra com a logo a partir da barra_autor*/
    background-color:white;
    height: 57.5px;
    width: 100%;
    top:0;
    position: fixed;
    box-shadow: 0px 6.2px  6px -6px rgba(0,0,0,0.2);
    z-index: 1;
    
   }

   .save_image{
    position: absolute;
    border: none;
    bottom: 50%;
    transform: translateY(50%);
    right:56px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    color: black;
    box-sizing: border-box;
   }

   .save_image:hover{
     color: #0a9eff;
   }

   .save_image:active{
    border:  solid 2px;
    border-color:  #1087FF;
    
   }

   .img_share{
    position: absolute;
    border: none;
    bottom: 50%;
    transform: translateY(50%);
    right:100px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    color: black;
    box-sizing: border-box;
    
   }


   .img_share:active{
    border: solid 2px;
    border-color:  rgb(82, 164, 245);
    
  }

   .img_share:hover{
    color: #1087FF;
   }

  
  
   .barra2_filho{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 56px;

   }
   /*Fim da Barra2--------------------------------------------------------------------------------------------------*/



  /*Personalização das tags a, body, h1, figure*/
  a:hover{ 
    background-color:rgba(10,158,255,.1);

  }
  a{
    color: #1087ff;
  }
  body{
    font-family: 'Source Sans Pro',sans-serif ;
    color:#575757;
    font-size: 16px;
    line-height: 28px;
  }
  h1{
    color:black;
  }
 
  figure{
    background-color:#f6f8fa;
    margin-left: 0px;
    width: 100%; 
  }

  figcaption p{
    font-size: 14px;
    padding: 16px;
    margin:0px;
  }
  /*Fim da personalização----------------------------------------------------------------------------------------*/


   /*barra autor*/
   .barra_autor{/* borda inferor da barra*/
    border-bottom: 1px solid;
    border-color:rgb(188, 197, 206) ;
    margin-top: -5px;
    overflow: hidden/*recupera a altura e comprimento perdido pelo float*/;
    
  } 
  .perfil_autor{
    float :left;
    margin-right: 1%;
}  
.perfil_autor_image{
    display: inline-block;
    position: relative;
    top: 5px;
   
}
.perfil_autor_image img{
  border:solid 1px;
  border-color: lightgray;
  border-radius:360px;
  padding:2px;
  width: 36px;
  height: 36px;;

}
.perfil_autor a{
  background-color: white;
  text-decoration: none;
  color:#575757;
}
.perfil_autor_text{
    display: inline-block;
    position: relative;
    top: 0px;
    margin-left:8px;
  
}
.link a{
 color: #1087ff; 
}
.link a:hover{
 background-color:rgba(10,158,255,.1); 
}
.perfil_autor_text p{
    font-weight: 200;
    font-size: 12px;
    line-height: 7px;
}

.comment{
    float: right;
    margin-right: 1%;
  
}
.comment button{
  cursor: pointer;
  border:none;
  color:black;
}

.comment button:active{
  border-radius: 5px;
  color: #0a9eff;
  
}

.comment button:hover{
  color: #0a9eff;
}


.comment a{
  background-color: white;
  text-decoration: none;
}


.comment_image{
   
    display: inline-block;
    position: relative;
    top: 0px;
   
}



.comment_text{
  
    display: inline-block;
    position: relative;
    top:-5px;
    font: 14px "Source Sans Pro", sans-serif;
    font-weight:normal;
  
}


.share{
   float: right;
   margin-right: 1%;
   text-align: center;
   transform: translateY(5%);
}



.share button{
  border:none;
  color:black;
}

.share button:hover{
  color:#0a9eff;
}

.share_image{
    display: inline-block;
    position: relative;
    top: 7px;
    transform: translateY(-28%);
}
.share_text{
    display: inline-block;
    position: relative;
    transform: translateY(-18%);
    right:0px;
    font: 14px "Source Sans Pro", sans-serif;
    font-weight: normal;

}
   /*modificado 07/04 inserção compartilhar*/
   /*Fim do barra autor-------------------------------------------------------------------------------------------------*/
 
  .data{
    font-size: 14px;
    line-height: 20px;
    color:rgba(82,82,82,.5);
  }
.artigo{
  float: none;
  width:80%;
  background-color:white; 
  margin: -20px auto 0px auto;
  padding:  15px ;/*conteudo interno, todo o conteudo sera ajeitado a 15px tanto a direita como esquerda , em cima e embaixo*/
 
}
/*botões fonte*/
.fonte{
  margin:15px;
}
.fonte p{
  font-weight: bold;
}
button{
  background-color: white;
  border: solid 1px;
  border-color: darkgray;
  border-radius: 5px;
  color:#444;
  padding: 3px 8px;
  margin-right: 8px;
  margin-top:8px;
}

/*botões categoria*/
.categoria{
  margin:15px;
  border-bottom: lightgray 1px solid;
}

.categoria .link_button{
  border-color:#1087ff;
  color:#1087ff;
}
.categoria p{
  font-weight:bold;
}

.link_button{
  border: solid 1px;
  border-radius: 5px;
  border-color: darkgray;
  color:#444;
  padding: 3px 8px;
  margin-right: 8px;
  margin-top:8px;
  margin-bottom: 25px;
  font: 400 13.3333px Arial;
  text-decoration:none;
  white-space:nowrap;
  transform: translateY(-50%); 
  position:relative;
  display: inline-block;
}
.link_button:hover{
  background-color: white ;
  
}
 .comentario {
   color:black;
   font-size: 24px;
   font-weight: bold;
}
 .comments_text{
  color: #030303;
  margin:0px;
  font-size: 15px;
  text-align: center;

}
/*Fim de botões categoria ---------------------------------------------------------------------------------------------*/

/*botões de reações*/
.reaction{
  display: inline-block;

}

.reactions button{
  margin: 5px 6px 10px;
  padding: 5px 10px;
  color: #2a2e2e;
  box-sizing: border-box;
  
}



.reaction_text{
  position:relative;
  bottom: 7px;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
  margin-left: 8px;
}
.reactions{
 text-align: center;
 
}
.btn-secondary:focus{
  color: #0a9eff;
  background-color:#f2f9ff;
 
}
.reaction img{
  width: 20px;
  height: 20px;
}
.btn-secondary:hover img{
  animation: mymove 2s infinite; 
}

.reactions button:active
{
  
  border-color:  #0a9eff; 
}
@keyframes mymove {
  from {transform:scale(1,1)}
  to {transform:scale(1.5,1.5)}
}
/*Fim dos botões de reação----------------------------------------------------------------------------------------------*/
/* Itens de comentário 1, abaixo das reações  */
.comentarios{
  
  border-bottom: solid 2px #e7e9ee;
  white-space: nowrap;
  height: auto;
  overflow: visible;
  margin:0px 0px 24px;

}
.comentarios-tecmundo{
  padding: 10px;
  display: inline-block;
  position:relative;
  top:3px;
  font:15px "Helvetica Neue",arial,sans-serif;
  font-weight:bold;
  color:#656c6a;
  white-space: nowrap;
  width: auto;
 
}
.comentarios-tecmundo:hover {
  color:#2a2e2e;
   background-color:white;
}
.quantidade-de-comentarios{
  font:15px "Helvetica Neue",arial,sans-serif;
  color:#2a2e2e;
  font-weight: bold;
  display: inline-block;
  padding: 10px;;
  border-bottom: 2px solid #288ce4;
  
}

.comentarios-tecmundo a{
  color:#656c6a;
  text-decoration: none;
}

.comentarios-tecmundo a:hover{
  color:#2a2e2e;
  background-color:white;
}

.iniciar-sessao{
  float: right;
}
.dropdown {
  position: relative;
  display: inline-block;
  white-space: normal;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border:2px solid #687a86;;
  border-radius:3px;
  z-index: 1 ;
  padding-top:5px;
  padding-bottom:5px;
   min-width:120px;
   max-width: 120px;
}
.dropdown-content a {
  color: #687a86;
  padding: 4px 15px;
  text-decoration: none;
  display:block;
  font-weight:normal;

}
.dropdown-content a:hover {
  background-color: #0a9eff;
  color:white;
  
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*Fim dos itens de comentário 1 abaixo das reações   -------------------------------------------------------------------------------*/
/*itens de coméntário 2, abaixo das reaçacões */
.itens{
  margin:-12px 0px 6px;
}
.item{
  font:13px "Helvetica Neue",arial,sans-serif;
  display:inline-block;
  font-weight:bold;
  white-space: nowrap;
  width: auto;
  margin-right: 5px;
  color:#656c6a;
  cursor:pointer;

}
.recomendar-img{
  color: #f05f70;
  margin-right:1px;
  font-size:15px;

}

.mudar-cor:hover{
  color: #2a2e2e;
}
 button .item-text{
  color:white;
  margin: 0.5px 0px 0px  4px;
}
.twitter button{
  background-color:#00aced;
  border:none;
  
}
.facebook button{
  background-color:#3b5998;
  border:none;
}
.item button:hover{
  opacity:0.9;
}
select{
  border:none;
  outline:none;
}
.opcao{
  border:2px solid;
  border-radius:5px;
  border-color:#687a86;
  padding:5px;
  
}
.ordem-comentarios{
  position:relative;
  top:10px;
  float:right;
}
.comments-order{
  position:absolute;
  right:0;
}
.lo{
  height: 200px;

}
/*Fim dos itens de comentário 2, abaixo das reações   -------------------------------------------------------------------------------*/



/*Parte de Relacionados*/
.relation{
  color: black;
  font-weight: bold;
  font-size: 24px;
  
}



.relat{
  position: relative;
  background-color: white;
  height: 120px;
  width: 100%;
  border-bottom: lightgray 1px solid;
  padding: 16px 0px;
}

.text1{
  color:#444444;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.text1:hover{
  color: #1087ff;
}



.date_rel{
  position: absolute;
  color:rgb(186, 186, 196);
  height: 17px;
  font-size: 14px;
  line-height: 120%;
  transform: translateY(-80%);
  text-align: center;
 
}

.days{
  position: absolute;
  color:rgb(186, 186, 196);
  padding-right: 10px;
  left: 45px;
  height: 17px;
  line-height: 120%;
  font-size: 14px;
  transform: translateY(-80%);
  border-right: lightgray 1px solid;
  text-align: center;
}

/*Fim dos relacionados----------------------------------------------------------------------------------------------------------------------*/

/*Medias para deixar o site responsivo*/
@media only screen and (max-width: 600px){
  body{width: 100%;}
  img{width: 100%;}
 
  
}
@media only screen and (max-width: 750px){
  body{width: 100%;}
  img{width: 100%;}
 
  .comentarios{
    border-bottom: solid 2px #e7e9ee;
    white-space: nowrap;
    clear:both;
    height: 80px;
    overflow: visible;
  }

}

@media only screen and (max-width: 770px){
  body{width: 100%;}
  img{width: 100%;}
  

}

@media only screen and (max-width: 992px){
  body{width: 100%;}
  img{width: 100%;}
  
  
}

@media only screen and (max-width: 1200px){
  body{width: 100%;}
  img{width: 100%;}
 
}


/*Fim do medias------------------------------------------------------------------------------------------------*/
